@media only screen and (min-width: 500px) {
  .brand > img  {
    width: 10%;
    height: auto;
    object-fit: cover;
  }

  .event-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .event-description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .comment {
    display: flex;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px; */
    flex-direction: row;
    gap: 1rem;
    border-bottom: 1px rgb(242, 242, 242) solid;
    padding: 0.5rem 1.5rem;
  }

  .comment > img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50px;
    border: 1px rgb(240, 240, 240) solid;
  }

  .comment-body {
    display: flex;
    flex-direction: column;
  }

  .comment-body > p {
    font-size: 13px;
  }
  
  .comment-body-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .commenter {
    font-family: Inter-SemiBold;
    font-size: 15px;
  }

  .comment-date {
    font-size: 12px;
    color: rgb(170, 170, 170);
  }

  .rese {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .rese-body {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .rese-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .rese-body > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .event-mobile, .event-article-mobile {
    display: none;
  }

  #event-article {
    display: flex;
  }

  .equipment-header {
    display: flex;
    padding: 10px;
    flex-direction: row;
    background-color: rgb(2, 144, 52);
    color: #fff;
    font-size: 14px;
    font-family: Inter-SemiBold;
    justify-content: space-between;
  }

  .official-list {
    display: flex;
    flex-direction: column;
  }

  .official {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .official-image > img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    object-fit: cover;
  }

  #changePictureForm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .equipment-body {
    display: flex;
    flex-direction: column;
  }

  .equipment {
    display: flex;
    flex-direction: row;
    font-size: 13px;
    padding: 0 10px;
    /* padding: 10px; */
    margin-bottom: 0.2rem;
  }

  .formComment {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
  }

  .sidebar-body {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  aside {
    border-right: 1px #ededed  solid;
    padding: 1rem;
  }

  .my-reservation {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: rgb(243, 243, 243); */
    padding: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 5px;
  }

  .bkmodal-r1 > p {
    font-family: Inter-Medium;
  }

  .event {
    background-color: #fff;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    width: 80%;
    padding: 0 1rem 1rem 1rem;
    flex-direction: column;
  }

  .event-header{
    padding: 1rem 0;
  }

  .event-comment {
    max-height: 55vh;
    padding: 1rem 1.5rem;
    overflow: auto;
  }

  .account > img {
    width: 35px;
    height: 35px;
    background-color: #fff;
    object-fit: cover;
    border-radius: 40px;
    cursor: pointer;
  }

  .brand {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .account {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
  }

  article {
    display: flex;
    flex-direction: row;
  }

  .event-detail, .comment-holder {
    padding: 1rem;
  }

  .comment-holder {
    max-height: 80vh;
    overflow: auto;
  }

  .dates {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
  }

  .equipment-req {
    display: flex;
    flex-direction: column;
  }

  .item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .item > p > i:hover {
    cursor: pointer;
  }

  #commentForm {
    margin-top: auto;
    padding: 1rem;
    display: flex;
    /* color: #fff !important; */
    gap: 1rem;
    flex-direction: row;
    align-items: center;
  }

  .date-card {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    gap: 1rem;
  }

  .dashboard-mobile {
    display: none;
  }

  .dashboard {
    height: 93vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
  }

  .navigate > a {
    color: #000;
    font-family: Inter-SemiBold;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 13vw;
    justify-content: center;
    transition: 0.1s ease;
  }
  .navigate > a:hover {
    background-color: var(--blue-200);
    color: #fff;
  }

  .navigate {
    display: flex;
    flex-direction: row;
    height: inherit;  
  }

  .requested-equipments {
    display: flex;
    flex-direction: column;
  }

  .req-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}