<link rel="stylesheet" href="views/full-calendar/fullcalendar/lib/main.min.css">
<style>
  .reservations {
    display: flex;
    flex-direction: row;
  }

  #calendar {
    padding: 1rem;
  }

  .reservation-Calendar {
    display: none;
  }

  #appointmentList {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    max-height: 66vh;
    overflow: auto;
    padding: 10px;
  }

  .appointment {
    width: 50%;
    max-height: 15vh;
    font-size: 13px;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .appointment > div > p {
    font-family: Inter-SemiBold;
  }

  h4 {
    font-family: Inter-Bold;
  }

  :root {
    --bs-success-rgb: 71, 222, 152 !important;
  }

  .btn-info.text-light:hover,
  .btn-info.text-light:focus {
    background: #000;
  }
  table, tbody, td, tfoot, th, thead, tr {
    border-color: #ededed !important;
    border-style: solid;
    border-width: 1px !important;
  }

  table {
    overflow: auto !important;
  }

  .event-details, .equipments-used{
    display: flex;
    flex-direction: column;
  }

</style>
<div class="bok-modal" id="eventDetails">
  <div class="bok w-50">
    <div class="bok-modal-header">
      <h4 class="mt-2">
        Event ID: <span class="case_number"></span>
      </h4>
      <i class="close-modal fa-solid fa-x"></i>
    </div>
    <div class="event-details">
      
    </div>
    <div class="bok-modal-footer">
      <button class="button is-success me-2">Finish Event</button>
      <button class="button is-danger">Delete Event</button>
    </div>
  </div>
</div>

<main>
  <div class="reservations">
    <div class="col-6" id="calendar">
    </div>
    <div class="col" id="event-list">
    </div>
  </div>
</main>

<script src="views/full-calendar/fullcalendar/lib/main.min.js"></script>
<script>
  var date = new Date()
  var d = date.getDate(), m = date.getMonth(), y = date.getFullYear();
  var calendar;
  var Calendar = FullCalendar.Calendar;

  function getAllAppointments(){
    $.ajax({
      type: 'get',
      url: 'api/getAllAppointments.php',
      success: function(response){
        $('#event-list').html(response)
      }
    })
  }

  function getIncomingEvent(){
    $.ajax({
      type: 'get',
      url: 'api/getIncomingEvent.php',
      success: function(response){
        $('.incoming-event').html(response)
      }
    })
  }

  function generateDetails(id){
    $.ajax({
      type: 'get',
      url: 'api/getEventDetails.php',
      data: {eventID: id},
      beforeSend: () => {

      },
      success: (response) => {
        $('.event-details').html(response)
      },
      complete: () => {
        openModal('eventDetails')
      }
    })
  }

  function getCalendarItem(item){
    var schedules = $.parseJSON(item)
    var events = [];
    for(var key in schedules) {
      if (schedules.hasOwnProperty(key)) {
        events.push({ 
          id: schedules[key].id, 
          title: schedules[key].client_name, 
          start: schedules[key].starting_date, 
          end: schedules[key].ending_date
        });
      }
    }

    calendar = new Calendar(document.getElementById('calendar'), {
    headerToolbar: {
      left: 'prev,next today',
      right: 'dayGridMonth,dayGridWeek,list',
      center: 'title',
    },
    selectable: true,
    themeSystem: 'bootstrap',
    events: events,
    eventClick: function(info) {
      var id = info.event.id

      generateDetails(id)
    },
    eventDidMount: function(info) {
    },
    editable: false
    });
    calendar.render();
  }

  function renderCalendar(){
    $.ajax({
      type: 'get',
      url: 'api/getCalendar.php',
      success: function(response){
        getCalendarItem(response);
      }
    })
  }

  $(document).ready(function(){
    $('.close-modal').click(function(){
      $(this).parent().parent().parent().css('display', 'none');
    })

    getAllAppointments();
    getIncomingEvent();
    renderCalendar();
  })
</script>