<link rel="stylesheet" href="css/equipment-web.css">
<script src="js/equipment.js"></script>

<div class="bok-modal" id="addInventory">
  <div class="bok w-50">
    <div class="bok-modal-header">
      <h4 class="is-size-4">
        Add New Equipment
      </h4>
      <i class="close-modal fa-solid fa-x"></i>
    </div>
    <form id="addItemForm">
      <h4>Item Name</h4>
      <input required type="text" id="item_name" class="input" placeholder="Item Name">
      <h4>Serial Code</h4>
      <input required type="text" id="item_serialcode" class="input" placeholder="Serial Code">
      <h4>Item Brand</h4>
      <input required type="text" id="item_brand" class="input" placeholder="Item Brand">
      <h4>Category</h4>
      <div class="select w-100">
        <select required id='item_category' class="w-100">
          <option>Equipment</option>
          <option>Utility</option>
        </select>
      </div>
      <h4>Quantity</h4>
      <input required type="number" id="item_quantity" class="input" placeholder="Quantity">
      <button class="mt-4 button is-primary w-100" type="submit">Add Item</button>
    </form>
  </div>
</div>

<main>
  <h4 class="mb-2 is-size-4">Equipments</h4>
  <h6 class="mb-4">This is all the equipment that belongs to the Barangay Pinagsama.</h6>
  <div>
    <button id='add-inventory-button' class="button is-link is-outlined">
      Add Item
    </button>
    <div class="select w-25">
      <select id='sortCategory' class="w-100">
        <option>Equipment</option>
        <option>Utility</option>
      </select>
    </div>
    <button id='add-inventory-button' class="button is-link">
      Sort
    </button>
    <div class="equipment-list mt-4">
      <div class="equipment-header">
        <p class="col-2">Action</p>
        <p class="col-2">Serial Code</p>
        <p class="col-3">Item Name</p>
        <p class="col-2">Brand</p>
        <p class="col-1">Quantity</p>
        <p class="col-1">Reserved</p>
        <p class="col-1">Available</p>
      </div>
    </div>
    <div class="equipment-container">
      
    </div>
  </div>
</main>