<script src="../plugins/full-calendar/fullcalendar/lib/main.min.js"></script>
<script src="js/event.js"></script>

<script>
  $(document).ready(function(){
    let tabsWithContent = (function () {
  let tabs = document.querySelectorAll('.tabs li');
  let tabsContent = document.querySelectorAll('.tab-content');

  let deactvateAllTabs = function () {
    tabs.forEach(function (tab) {
      tab.classList.remove('is-active');
    });
  };

  let hideTabsContent = function () {
    tabsContent.forEach(function (tabContent) {
      tabContent.classList.remove('is-active');
    });
  };

  let activateTabsContent = function (tab) {
    tabsContent[getIndex(tab)].classList.add('is-active');
  };

  let getIndex = function (el) {
    return [...el.parentElement.children].indexOf(el);
  };

  tabs.forEach(function (tab) {
    tab.addEventListener('click', function () {
      deactvateAllTabs();
      hideTabsContent();
      tab.classList.add('is-active');
      activateTabsContent(tab);
    });
  })

  tabs[0].click();
  })();
})
</script>

<div class="bok-modal" id="eventDetails">
  <div id='event-detail-body' class="bok w-50">
    <!-- Query -->
  </div>
</div>

<div class="bok-modal" id="requestDetails">
  <div id='request-body' class="bok w-50">
    <!-- Query -->
  </div>
</div>

<div class="bok-modal" id="cancelledDetails">
  <div id='cancelled-body' class="bok w-50">
    <!-- Query -->
  </div>
</div>

<main>
  <div class="reservations">
    <div class="col-6" id="calendar">
    </div>
    <div class="col">
      <div id="tabs-with-content">
        <div class="tabs">
          <ul>
            <li>
              <a>
                <i class="fa-solid fa-badge-check me-2"></i>
                Accepted
              </a>
            </li>
            <li>
              <a>
                <i class="fa-solid fa-flag-checkered me-2"></i>
                Done
              </a>
            </li>
            <li>
              <a>
                <i class="fa-solid fa-flag me-2"></i>
                Requests
              </a>
            </li>
            <li>
              <a>
                <i class="fa-solid fa-ban me-2"></i>
                Cancelled
              </a>
            </li>
          </ul>
        </div>
        <div class="events-list">
          <section id='accepted-events' class="tab-content">Accepted</section>
          <section id='done-events' class="tab-content">Done</section>
          <section id='requested-events' class="tab-content">Requested</section>
          <section id='cancelled-events' class="tab-content">Cancelled</section>
        </div>
      </div>
    </div>
  </div>
</main>

